<div class="container mx-auto">
    <div class="bg-white rounded-md shadow-sm">
        <EditForm Model="CategoryVM" OnValidSubmit="CategoryVM.UpsertCategory" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <DataAnnotationsValidator />                
            <div class="mb-6 flex gap-4">
                <div class="flex-grow">
                    <FormInput Id="name" ValidationFor="() => CategoryVM.Name" Label="Name" @bind-Value="CategoryVM.Name" />                    
                </div>
                @if (!string.IsNullOrEmpty(CategoryVM.Symbol))
                {
                    <img class="w-12 h-12 mt-6" src="@CategoryVM.Symbol">
                }                
            </div>
            <div class="mb-6">                
                <label
                    class="block mb-2 text-sm text-gray-600"
                    for="name"
                >
                    Symbol
                </label>
                <InputFile OnChange="CategoryVM.HandleImageUpload"
                    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
                />
            </div>
            <div class="col">
                <Button success id="category-submit" type="submit" Label="@CategoryVM.Title" />
                <Button light IsLink="true" href="set" Label="Back to Index" />
            </div>
        </EditForm>
    </div>
</div>

@code {
    [CascadingParameter(Name = "CategoryVM")]
    public ISetViewModel CategoryVM { get; set; } = null!;    
}
