<DeleteConfirmation IsActive="IsDeleteModalActive"
                    IsParentComponentProcessing="IsLoading"
                    ConfirmationChanged="DeleteConfirmationChanged" />

<div class="w-full mb-8 overflow-hidden flex items-center">
    <div class="p-10 divide-y divide-indigo-700 flex-grow">
        <div class="w-full">
            <h4 class="text-2xl text-indigo-700 p-2">@ListName</h4>
        </div>
        <div class="p-2 grid grid-cols-1 gap-4">
            <div class="flex w-64 gap-2">
                <Button primary IsLink="true" id="category-submit" type="submit" Label="@CreateButtonLabel" href="@CreateHrf" />
                @if (HeaderComplements != null)
                {
                    @HeaderComplements
                }
            </div>
            @if (Body != null)
            {
                @Body
            }            
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public string ListName { get; set; } = string.Empty;

    [Parameter]
    public string CreateHrf { get; set; } = string.Empty;

    [Parameter]
    public bool IsDeleteModalActive { get; set; } = false;

    [Parameter]
    public string CreateButtonLabel { get; set; } = string.Empty;

    [Parameter]
    public required EventCallback<bool> DeleteConfirmationChanged { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    public RenderFragment HeaderComplements { get; set; } = null!;

}
