@page "/set/create"
@page "/set/edit/{id:int}"

@inject ISetViewModel CategoryVM
@attribute [Authorize(Roles = SD.Role_Admin)]

<StateContainer ViewModel="CategoryVM" Name="CategoryVM">
    <Loading Show="CategoryVM.IsLoading"/>
    <div class="p-10">
        <h4 class="text-2xl text-indigo-700 p-2">@CategoryVM.Title Set</h4>    
        <SetForm />
    </div>
</StateContainer>

@code {
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CategoryVM.LoadCategory();
        }
    }    

    protected override void OnParametersSet()
    {
        CategoryVM.Id = Id;
    }
}
